
<div class="container">
<h2>Welcome</h2>
<h3>Top of today</h3>
<div class="row">
  <div class="col-md-3">
  	<img src="images/original/missing.png" class="img-thumbnail">
 		<h4>Random Recipe</h4>
 		<p class="text-justify" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco. 
	</p> <a href="#">See more.</a>
  </div>

  <div class="col-md-3">
  	<img src="images/original/missing.png" class="img-thumbnail">
 		<h4>Random Recipe</h4>
 		<p class="text-justify" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco. 
	</p> <a href="#">See more.</a>
  </div>

  <div class="col-md-3">
  	<img src="images/original/missing.png" class="img-thumbnail">
 		<h4>Random Recipe</h4>
 		<p class="text-justify" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco. 
	</p> <a href="#">See more.</a>
  </div>

  <div class="col-md-3">
  	<img src="images/original/missing.png" class="img-thumbnail">
 		<h4>Random Recipe</h4>
 		<p class="text-justify" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco. 
	</p> <a href="#">See more.</a>
  </div>
</div><!--row --> 

<h3>Top of tomorrow</h3>
<div class="row">
  <div class="col-md-3">
  	<img src="images/original/missing.png" class="img-thumbnail">
 		<h4>Random Recipe</h4>
 		<p class="text-justify" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco. 
	</p> <a href="#">See more.</a>
  </div>

  <div class="col-md-3">
  	<img src="images/original/missing.png" class="img-thumbnail">
 		<h4>Random Recipe</h4>
 		<p class="text-justify" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco. 
	</p> <a href="#">See more.</a>
  </div>

  <div class="col-md-3">
  	<img src="images/original/missing.png" class="img-thumbnail">
 		<h4>Random Recipe</h4>
 		<p class="text-justify" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco. 
	</p> <a href="#">See more.</a>
  </div>

  <div class="col-md-3">
  	<img src="images/original/missing.png" class="img-thumbnail">
 		<h4>Random Recipe</h4>
 		<p class="text-justify" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco. 
	</p> <a href="#">See more.</a>
  </div>
</div><!--row --> 

</div>

