nav h3, nav a {
	color: #BBB;
}

nav a:hover {
	color: white;
}

nav .avatar {
	float: left;
}

nav .avatar img{
	border-radius: 4px;
	margin-right: 15px;
}

nav .info {
	float:left;
	margin-top: 20px;
}

nav h3 {
	text-transform: capitalize;
}

nav .info ul {
	padding: 0px;
}


nav .info li {
	display: inline-block;
}



nav .info i {
	padding: 10px;
	background-color: chocolate;
	border-radius: 3px;
}

@media only screen and (max-width : 768px) {
	nav img {
		height: 50px;
	}

	nav h3 {
		display: none;
	}

	nav .info {
		margin-top: 10px;
	}

	nav .info ul {
		margin-bottom: 0px;
	}
}