@media only screen and (min-width : 768px) {
	.navbar-fixed-left {
		position: fixed;
		width: 250px;
		height: 100%;
		left: 0;
		border-radius: 0px;
	}

	.navbar-fixed-left .navbar-header {
		float: none;
		padding: 15px;
	}
	.navbar-fixed-left .navbar-brand {
		float:none;

	}

	.navbar-fixed-left .container {
		margin: 0;
		padding: 0;
		width: auto;
	}

	.container, main {
		width: auto;
		padding-left: 0;
    	padding-right: 0;
	}
    


	.navbar-fixed-left .container-fluid {
		margin: 0;
		padding: 0;
		width: auto;
	}

	.navbar-fixed-left .navbar-collapse {
		padding: 0;
	}

	.navbar-fixed-left ul li {
		float: none;
	}

	.navbar-fixed-left .navbar-nav {
		float: none;
	}

	.navbar-fixed-left .navbar-right:last-child {
		margin-right:0;
	}

	.vertical-menu-wrapper {
		margin-left:250px;
	}

	main[role=main]{
		margin-top: 0;
		margin-left: 0;
	}

}

